# Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
venv/
ENV/
env/
.env

# Node/Frontend
node_modules/
dist/
dist-ssr/
*.log

# Editor settings
.vscode/
.idea/
.DS_Store
